.page-wrapper {
  width: 100%;
}

.content-wrapper {
  width: 70%;
  max-width: 1000px;
  margin: auto;
}

.sidebar {
  width: 20%;
  min-width: 200px;
  max-width: 200px;
  float: left;
  border-left: 1px solid #c2d1d6;
  padding-left: 5px;
  height: 100%;
}

.sidebar h4, .sidebar h5, .sidebar h6 {
  margin: 0px 0px 0px 5px;
  padding: 0px;
  font-size: 14px;
}

.sidebar h5 {
  margin-left: 15px;
}

.sidebar h6 {
  margin-left: 25px;
  font-weight: normal;
}

.main-area {
  width: 70%;
  border-left: 4px solid #c2d1d6;
  height: auto;
  padding: 5px 20px 0px 20px;
  float: right;
}

.item-header {
  width: inherit;
  margin: 0px;
  padding: 5px;
  font-size: 20px;
  background-color: #000;
  color: #FFF;
}

.item {
  border: 1px solid #000;
  margin: 0px;
  padding: 0px;
  font-size: 12px;
}

.item-body-summary p {
  margin-bottom: 5px;
  font-size: 20px;
  font-weight: bold;
}

.item-body-full {
  display: none;
}

.item-body-full p {
  font-weight: normal;
  font-size: 14px;
}

.open-full {
  font-size: 10px;
  color: #FFF;
  background-color: blue;
  border: 1px solid grey;
  border-radius: 25px;
}

.item {
	margin-bottom: 20px;
}

p {
  margin: 0px;
  font-size: 14em;
}

body {
  margin: 0px;
  padding: 0px;
  font-size: 1px;
  font-family: Arial;
}

header {
  background-color: black;
  margin: 0px 0px 50px 0px;
  padding: 10px 10px 10px 60px;
  color: #FFF;
  font-size: 40em;
  height: 100px;
  font-family: Courier;
}

header h1 {
	margin: 0px;
	padding: 0px;
	font-size: 2em;
}

.active {
  background-color: #000;
  color: #FFF;
}

.selector:hover {
	cursor: pointer;
	background-color: lightblue;
}

footer {
  height: 150px;
  padding: 0px;
  margin: 20px 0px 0px 0px;
  background-color: grey;
}

footer p {
  padding: 60px;
  margin: auto;
  color: white;
  font-size: 15em;
}

.clearfix {
  clear: both;
}

.preview-link {
  color: blue;
  cursor: help;
}

#previewbox {
  display: none;
  position: fixed;
  top: 35%;
  right: 20%;
  background-color: lightblue;
  border-left: 3px solid blue;
  font-size: 20em;
  padding: 10px;
}

#preview-title {
  display: inline;
  font-size: 3em;
}

.preview-control {
  display: inline;
  position: absolute;
  margin-right: 15px;
  right: 0px;
  cursor: pointer;
}

#preview-options {
  padding: 5px;
}

#preview-options a {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}